*{
  box-sizing: border-box;
}

/* -------------- Main styles --------------- */

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  text-align: center;
  }

ul, li {
  list-style: none;
  text-align: center;
  padding-left: 0%;
  padding: 5px;
}

img {
  width: 100%;
  margin-bottom: 15px;
}



 /* --------------- flex box --------------- */


    body {
  min-height: 100vh;
 }


    footer {
background-color: rgb(223, 221, 221);
width: 100%
    }

  /* Media Queries */  

    @media (min-width: 768px) {
      
  .main-nav, ul, .profile-img {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    flex-wrap: wrap;
  }

  .profile-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  
}


        @media (min-width: 1024px) {
          
          .main-header {
            display: flex;
            flex-direction: row;
          }

          .main-nav {
            flex-direction: row;
            justify-content: space-between;
            padding-top: 10px;
        }