* {
  box-sizing: border-box;
}

/* -------------- Main styles --------------- */

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  }

.intro {
  text-align: center;
}

h4 {
  text-align: left;
}

ul,
li {
  list-style: none;
  text-align: center;
  padding-left: 0%;
  padding: 5px;
}

img {
  width: 100%;
  margin-bottom: 15px;
}

header {
  background-color: rgba(250, 250, 250, 255);
  margin-bottom: 15px;
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
  padding: 5px;
  text-align: center;
}

.main-title {
  padding-bottom: 10px;
}

.totop a {
  text-align: right;
}

.border {
  border-bottom: 1px solid;
}

#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: #107896;
}

.full {
  display: none;
}

/* --------------- flex box --------------- */

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: column;
}

.border {
  display: flex;
}

.back-to-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Media Queries */

@media (min-width: 768px) {

  .top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 12px;
      padding-top: 10px;
      padding-bottom: 15px;
  }

  .intro {
      text-align: left;
  }

  .profile-img {
      display: flex;
      flex-direction: row-reverse;
  }

  .row {
      flex-direction: row;
      flex-wrap: wrap;
      /*Add flex wrap so your divs wrap to 2 columns*/
      justify-content: space-between;
  }

  .col {
      flex: 1;
      margin: 5px;
      flex: 1 48%;
  }

  .totop {
      display: none;
  }

  .back-to-top {
      display: none;
  }

  .border {
      border-bottom: 1px solid;
  }

}

@media (min-width: 1024px) {

  .top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
}

  .name {
    display: flex;
    flex-basis: 800px;
  }
} 
  
  .intro {
      text-align: left;
      margin-left: 15px;
  }

  .col {
      margin: 5px;
      flex: 1 31%;
  }

  .totop {
      display: none;
  }

  .border {
      border-bottom: 1px solid;
  }